.filter-layer{
    width:100%; 
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index:8;
    background-color: black;
    filter: opacity(.7);
    
}
.form-wrapper{
    width:40%;
    height:500px;
    background-color: white;
    z-index: 9;
    position: absolute;
    top: 25%;
    left:30%;
    .review-form{
        display: flex;
        flex-direction: column;
    }
}